# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# PyCharm
.idea/
*.iml

# Logs
*.log
logs/

# Spark
spark-warehouse/
metastore_db/

# Hadoop
hadoop/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Test outputs
*.csv
*.parquet